@tailwind base;
@tailwind components;
@tailwind utilities;

.tesserae-title {
  font-family: 'Crimson Pro', Georgia, serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
